* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

div, ul, li {
    list-style: none;
}

/******************* 웹 전체 사이즈 **********************/

#web-size {
    width: 1200px;
    margin: 0 auto;
}

/******************* 웹 헤더 영역 **********************/

header > nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.hd-menu {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.hd-menu > li {
    padding: 0 20px;
}

.hd-menu > li > a {
    font-size: 15px;
    color: #888888;
    font-weight: bold;
}

.icon {
    font-size: 25px;
    padding: 0px;
    color: #888888;
}

.glass {
    margin-right: 12px;
    margin-left: 15px;
}

/******************* 웹 배너 영역 **********************/

.banner-b-text > ul > li {
    text-align: center;
    margin-top: 30px;
}

.banner-b-text > ul > li > p {
    font-size: 30px;
}

.c-blue {
    color: #4584c5;;
    font-weight: bold;
    font-size: 35px;
}

.c-change {
    color: green;
    font-weight: bold;
    font-size: 35px;
}

.c-mid {
    color: #4584c5;
    font-weight: bold;
    font-size: 35px;
    padding-top: 10px;
}

/******************* 웹 지도 영역 **********************/

#map {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/******************* 웹 메인 배너영역 **********************/

.main-banner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.banner-text {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.banner-point {
    font-size: 20px;
    font-weight: bold;
    color: #4584c5;
}

.banner-t {
    font-size: 15px;
    line-height: 1.5;
}

.black {
    color: #000;
    font-weight: bold;
}

.red {
    color: orangered;
    font-weight: bold;
}

